body {
background-color: rgb(238, 223, 243);
font-family: "Nunito Sans";
display: flex;
flex-direction: column;
align-items: start;
font-size: 20px;
margin: 50px;
}
h1 {
color: blue;
text-align: center;
font-size: 38px;
font-family: "Paytone One";
}
h2 {
color: rgb(247, 0, 255);
text-align: right;
font-size: 30px;
font-family: "Paytone One";
}
div {
display: list-item;
}